<div class="contacts-container">
    <h1>Contact Us</h1>
    <p>Find us on social media:</p>
    <ul>
        <li>
            <a href="https://www.facebook.com/@Mary Nyagaki" target="_blank">
                <i class="fa-brands fa-facebook">Facebook</i>
            </a>
        </li>
        <li>
            <a href="https://www.tiktok.com/@wangari_nyagaki" target="_blank">
                <fa-icon [icon]="faTiktok"></fa-icon> TikTok
            </a>
        </li>
        <li>
            <a href="https://twitter.com/your-handle" target="_blank">
                <fa-icon [icon]="faTwitter"></fa-icon> Twitter
            </a>
        </li>
        <li>
            <!-- Replace `your-number` with your WhatsApp number prefixed with your country code -->
            <a href="https://wa.me/+254702164606" target="_blank">
                <fa-icon [icon]="faWhatsapp"></fa-icon> WhatsApp
            </a>
        </li>
    </ul>
</div>
