<!-- shop.component.html -->
<div class="shop-container">
  <h1>Welcome to Nyagaki's wholesale & Retail Shop</h1>
  <div class="image-row">
    <div class="image-container">
      <p><strong>Fruits</strong></p>
      <img src="/assets/fruits.jpg" alt="Fruits" [routerLink]="['/fruits']" />
    </div>
    <div class="image-container">
      <p><strong>Vegetables</strong></p>
      <img src="/assets/image.png" alt="Vegetables" />
    </div>
    <div class="image-container">
      <p><strong>Cereals</strong></p>
      <img src="/assets/cereals.jpg"/>
    </div>
    <div class="image-container">
      <p><strong>Clothes</strong></p>
      <img src="/assets/clothes.jpg"/>
    </div>
    <div class="image-container">
      <p><strong>Shoes</strong></p>
      <img src="/assets/shoes.jpg"/>
    </div>
    <div class="image-container">
      <p><strong>Accessories</strong></p>
      <img src="/assets/accessories.jpg"/>
    </div>
    <div class="image-container">
      <p><strong>Drinks</strong></p>
      <img src="/assets/drinks.jpg"/>
    </div>
  </div>
</div>
